.navbar {
    width: 100%;  
}

img{
    max-width: 100%;
}
#logo-mobile{
    width: 50px;
}
#nowrap{
    flex-wrap: nowrap;
}
#nowrap-2{
    flex-wrap: nowrap;
}
.side-bar{
    width: 80px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    position: fixed;
    bottom: 0;
}
.down-side-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
}

































/* DESKTOP */
@media screen and (min-width: 992px){
    .side-bar{
        width: 150px;
    }
    
    .side-bar span{
        display: block;
    }
}